.Search {
    width: 100%;
    
    padding: 10px;
    box-sizing: border-box; 
  }
  
  .Search input {
    width: 90%;
    height: 30px;
  }
  
  .Search button {
    width: 8%;
    height: 35px;
  }